.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent center url("../../../images/__edit-button.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  padding: 0;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  position: relative;
  top: -16px;
  transition: opacity .3s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 767px) {
  .profile__edit-button {
    top: -57px;
    right: -112px;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
