.card__like-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  transition: opacity .3s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}
